.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.car-box {
  background-color: #0d6efd;
  height: 500px;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
}

.car-box::before {
  content: 'MY';
  position: absolute;
  font-size: 4em;
  color: #fff;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30px;
  font-style: italic;
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}
.car-box:hover::before {
  opacity: 0.3;
}

.car-box::after {
  content: 'CAR';
  position: absolute;
  font-size: 4em;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.3s 0.2s;
  opacity: 0;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
.car-box:hover::after {
  opacity: 0.3;
}

.car-name {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -10px;
  font-size: 1.5em;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 40px);
}

.car-box:hover .car-name {
  opacity: 1;
  top: 18px;
}

.button-car-detail {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate3d(-50%, 0, 130px);
  transition: 0.5s;
  opacity: 0;
}
.car-box:hover .button-car-detail {
  bottom: 15px;
  opacity: 1;
}

.car-img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 100px);
  transition: 0.5s;
}

.car-box:hover .car-img {
  transform: translate3d(-50%, -50%, 100px) scale(1.3);
}
